@model TrashCollector2.Models.UserInfo
@{
    ViewBag.Title = "Success!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Success!</h2>
<h4 class="text-center">You won't have trash picked up for the next @Model.PickedUp weeks.</h4>

