@model TrashCollector2.Models.ScheduleExtraPickUpViewModel
@{
    ViewBag.Title = "Schedule Extra Pick Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Schedule Extra Pick Up</h2>

@using (Html.BeginForm("AddExtraPickUp", "RegisteredUser"))
{
    <table class="table-hover table-striped table" style="width:100%; text-align:center; font-size:16px;">
        <thead>
            <tr>
                <th style="width:50%; text-align:center">Pick Up day</th>
                <th style="width:50%; text-align:center">Change Day</th>
            </tr>
        </thead>
        <tbody style="padding-top:10px;">
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.UserDetails.ExtraPickUpId, new SelectList(Model.Days, "Id", "Day"), "Select Extra Day", new { @class = "form-control", @style = "padding: 5px; height: 35px; width: 150px; margin-left: auto; margin-right:auto;" })
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" style="width:100px; height: 35px; padding: 5px;">Add Day</button>
                </td>
            </tr>
        </tbody>
    </table>
}

