@model TrashCollector2.Models.UserInfo
@{
    ViewBag.Title = "Success!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Success!</h2>
<h4 class="text-center">You will have an extra pick up next @Model.ExtraPickUpDay.Day</h4>

